<div class="container">
    <div style="color: azure;" class="row topo">
        <div class="col-lg-4 teste">
            <div class="centralizar espacamento logo">
                <i class="fa-solid fa-otter"></i> Pet One
            </div>
            <div class="espacamento">
                <i class="fa-solid fa-user"></i>
                Usuário
                <input type="text" name="login" (keyup.enter)="logar()" class="form-control" [(ngModel)]="login" />
            </div>
            <div class="espacamento">
                <i class="fa-solid fa-lock"></i>
            Senha
            <input type="password" (keyup.enter)="logar()" name="senha" class="form-control" [(ngModel)]="senha" />
            </div>
            <div class="centralizar espacamento">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init
                    (click)="logar()">Entrar</button>
            </div>
        </div>
    </div>
</div>
