<div class="login">
    <img src="assets/Hero.svg" width="450px" height="100%">
    <div class="container">
        <div class="form-box">
            <div class="text-box">
                <h2>Bem vindo!</h2>
                <span><b>Crie uma conta</b> ou entre para começar a usar o Pet One</span>
            </div>
            <div class="input-box">
                <div class="form-outline" data-mdb-input-init>
                    <h3>Email</h3>
                    <input (keyup.enter)="logar()" type="email" id="typeEmail" [(ngModel)]="login.username" (keyup.enter)="logar()"/>
                </div>
                <div class="form-outline" data-mdb-input-init>
                    <h3>Senha</h3>
                    <input (keyup.enter)="logar()" type="password" id="typePassword" [(ngModel)]="login.password" (keyup.enter)="logar()"/>
                </div>
                <h5>Esqueceu sua senha?</h5>
            </div>
            <div class="btn-box">
                <button class="btn-1" (click)="logar()" >Entrar</button>
                <h5>ou</h5>
                <button class="btn-2">Cadastre-se</button>
            </div>
        </div>
    </div>
</div>