<div class="container">
    <h3 style="color: #000000">CADASTRO DE VETERINÁRIOS</h3>
    <div class="card">
        <div class="card-body centralizarModal">
            <div>
                Nome
                <input type="text" name="nome" class="form-control formulario" (keyup.enter)="save()" [(ngModel)]="veterinario.nome" />
                CRMV
                <input type="text" name="nome" class="form-control formulario" (keyup.enter)="save()" [(ngModel)]="veterinario.crmv" />
                Endereço
                <input type="text" name="nome" class="form-control formulario" (keyup.enter)="save()" [(ngModel)]="veterinario.endereco" />
                <div class="teste">
                    <button style="background-color: #87B6A7; color: aliceblue;" type="button" class="btn btn-rounded centralizarBotao" (keyup.enter)="save()" data-mdb-ripple-init
                        (click)="save()">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>