h3{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
}
.fomulario{
    border-radius: 20px;
    width: 350px;
    
}
.centralizarModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.teste{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 10px;
}

input{
    border-radius: 16px;
}

.holder{
    display: flex;
    gap: 20px;
}