<div class="header-container">
  <div class="title">{{ title }}</div>
  <div class="user-profile">
    <div class="profile-icon">
      <div class="icon-background">
        <div class="icon-letter">U</div>
      </div>
    </div>
    <div class="user-info">
      <div class="user-name">André Macedo</div>
      <div class="user-role">Admin</div>
    </div>
    <div class="icon">
      <div class="notifications-icon">
        <img src="assets/notification.svg" alt="Configurações Icon" class="icon">
      </div>
    </div>
    <div class="icon">
      <div class="settings-icon">
        <img src="assets/config.svg" alt="Configurações Icon" class="icon">
      </div>
    </div>
  </div>
</div>