

<div class="dashboard">
    @if (loginService.hasPermission("ADMIN") || loginService.hasPermission("USERVET")) {
    <div class="cards">
        <div class="card red">
            <div class="card-body">
                <h5 class="card-title">Pacientes cadastrados</h5>
                <h4>{{PacienteCount}}</h4>
            </div>
        </div>
        <div class="card orange">
            <div class="card-body">
                <h5 class="card-title">Tutores cadastrados</h5>
                <h4>{{TutorCount}}</h4>
            </div>
        </div>
        <div class="card green">
            <div class="card-body">
                <h5 class="card-title">Veterinários cadastrados</h5>
                <h4>{{VeterinarioCount}}</h4>
            </div>
        </div>
    </div>
    <div class="charts">
        <div class="chart">
            <div class="caption">
                <p>0</p>
                <p>10</p>
                <p>20</p>
                <p>30</p>
                <p>40</p>
                <p>50</p>
                <p>60</p>
                <p>70</p>
                <p>80</p>
                <p>90</p>
                <p>100</p>
            </div>
            <div class="chartholder">
                <div class="barchart">
                    <div class="bar" [style.height.px]="calcular(VeterinarioCount)">
                    </div>
                    <div class="bar" [style.height.px]="calcular(ProcedimentoCount)">
                    </div>
                    <div class="bar" [style.height.px]="calcular(PacienteCount)">
                    </div>
                    <div class="bar" [style.height.px]="calcular(TutorCount)">
                    </div>
                                                      
                </div>
                <div class="title">
                    <p>Veterinários</p>
                    <p>Procedimentos</p>
                    <p>Pacientes</p>
                    <p>Tutores</p>
                </div>
            </div>
        </div>
        <div class="interaction">
            <button class="addbtn" [routerLink]="['/admin/pacientes/new']" routerLinkActive="router-link-active" >
                <span class="material-symbols-outlined">
                    add
                    </span>
                <h5>Novo Paciente</h5>
            </button>
            <button class="addbtn" [routerLink]="['/admin/tutores/new']" routerLinkActive="router-link-active">
                <span class="material-symbols-outlined">
                    add
                    </span>
                <h5>Novo Tutor</h5>
            </button>
            <button class="addbtn" [routerLink]="['/admin/procedimentos/new']">
                <span class="material-symbols-outlined">
                    add
                    </span>
                <h5>Novo Procedimento</h5>
            </button>
            <button class="addbtn" [routerLink]="['/admin/veterinarios/new']">
                <span class="material-symbols-outlined">
                    add
                    </span>
                <h5>Novo Veterinário</h5>
            </button>
        </div>

    </div>
    }


    @if (loginService.hasPermission("USER")) {
        <div class="cards">
            <div class="card red">
                <div class="card-body">
                    <h5 class="card-title">Novo Paciente</h5>
                    <button [routerLink]="['/admin/paciente/new']" routerLinkActive="router-link-active">
                        Novo
                    </button>
                </div>
            </div>
            <div class="card green">
                <div class="card-body">
                    <h5 class="card-title">Novo agendamento</h5>
                    <button [routerLink]="['/admin/procedimentos/new']" routerLinkActive="router-link-active">
                        Novo
                    </button>
                </div>
            </div>
        </div>
        <div class="chartsTutor">
            <div class="Pacientes">
                <h2>Seus pets:</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="centralizar" scope="col">ID</th>
                            <th class="centralizar" scope="col">Nome</th>
                            <th class="centralizar" scope="col">Espécie</th>
                            <th class="centralizar" scope="col">Nascimento</th>
                            <th class="centralizar" scope="col">Raça</th>  
                        </tr>
                    </thead>
                    @if (first == false) {
                    <tbody>
                        @for (paciente of lista; track $index) {
                        <tr>
                            <th class="centralizar" scope="row">{{paciente.id}}</th>
                            <td class="centralizar">{{paciente.nome}}</td>
                            <td class="centralizar">{{paciente.raca.especie.nome}}</td>
                            <td class="centralizar">{{paciente.dataNascimento}}</td>
                            <td class="centralizar">{{paciente.raca.nome}}</td>
                        </tr>
                        }
                    </tbody>
                    }
                </table>
                @if(first == true){
                    <div>
                        <h3>Voce ainda não tem nenhum bichinho cadastrado!</h3>
                        <h4>Cadastre o primeiro!</h4>
                        <button class="addbtn" [routerLink]="['/admin/pacientes/new']" routerLinkActive="router-link-active" >
                            <span class="material-symbols-outlined">
                                add
                                </span>
                            <h5>Novo Paciente</h5>
                        </button>
                    </div>
                }
            </div> 
            <div class="Procedimentos">
                <h2>Seus procedimentos:</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="centralizar" scope="col">ID</th>
                            <th class="centralizar" scope="col">Procedimento</th>
                            <th class="centralizar" scope="col">data</th>
                        </tr>
                    </thead>
                    @if (first == false) {
                    <tbody>
                        @for (paciente of lista; track $index) {
                        <tr>
                            <th class="centralizar" scope="row">{{paciente.procedimentos}}</th>
                            <td class="centralizar">{{paciente.nome}}</td>
                            <td class="centralizar">{{paciente.raca.especie.nome}}</td>
                        </tr>
                        }
                    </tbody>
                    }
                </table>
                @if(first == true){
                    <div>
                        <h3>Voce ainda não tem nenhum procedimento cadastrado!</h3>
                        <h4>Cadastre o primeiro!</h4>
                        <button class="addbtn" [routerLink]="['/admin/agendamento/new']" routerLinkActive="router-link-active" >
                            <span class="material-symbols-outlined">
                                add
                                </span>
                            <h5>Novo Procedimento</h5>
                        </button>
                    </div>
                }
            </div>
        </div>

    }   
</div>