.dashboard {
    padding: 2.25rem 3.5rem 4.6875rem 3.5rem;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.25rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}

.card {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    border-radius: 0.75rem;
    border: 1px solid var(--87-b-6-a-7, #87B6A7);
}

.card h5 {
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card h4 {
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.green {
    background: var(--87-b-6-a-7, #87B6A7);
}

.red {
    background: var(--b-6174-b, #B6174B);
}

.orange {
    background: var(--f-98948, #F98948);
}

.grafico {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}

.charts {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    flex: 1 0 0;
    align-self: stretch;
    margin-top: 20px;
    overflow: hidden;
}

table{
    height: 100%;
}

.chart {
    flex: 1 0 0;
    align-self: self-end;
}

.chart table td {
    color: white;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.interaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    gap: 20px;
}

.addbtn {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--87-b-6-a-7, #87B6A7);
    background: var(--ffffff, #FFF);
    color: var(--34312-d, #34312D);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*
<table class="charts-css column data-center show-labels">
                <thead>
                    <tr>
                        <th scope="col">Tutores</th>
                        <th scope="col">Pets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Tutores</th>
                        <td style="--size: 0.46">73</td>
                    </tr>
                    <tr>
                        <th scope="row">Pets</th>
                        <td style="--size: 0.46">96</td>
                    </tr>
                </tbody>
            </table>
*/