<div class="container">
    <h3 style="color: #54b4d3">CADASTRO DE PACIENTES</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                Nome
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="paciente.nome" />
                Especie
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="paciente.especie" />
                Data de Nascimento
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="paciente.dataNascimento" />
                Raça
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="paciente.raca" />
                <button type="button" class="btn btn-info btn-rounded" (keyup.enter)="save()" data-mdb-ripple-init
                    (click)="save()">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Salvar
                </button>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>