<div class="modal-holder">
    <div class="textos">
        <div class="title">
            <h2>Pacientes</h2>
            <span><b>Edite o formulário </b>para atualizar a tabela de veterinários</span>
        </div>
        <div class="btn-holder">
            <div class="btns">
                <button (keyup.enter)="save()" data-mdb-ripple-init (click)="save()">
                    <p>Adicionar</p>
                </button>
            </div>
        </div>
    </div>
    <div class="patient-data-input">
        <div class="input-MAT">
            <label for="">Nome do animal</label>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ex. Thom" value="" [(ngModel)]="paciente.nome">
            </mat-form-field>
        </div>
        <div class="input-MAT">
            <label for="">Especie</label>
            <mat-form-field>
                <mat-label>Selecione uma opcão</mat-label>
                <mat-select [(ngModel)]="paciente.raca.especie">
                    @for (especie of listaEspecie; track $index) {
                    <mat-option [value]="especie">{{especie.nome}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        @if (paciente.raca.especie.id == 1) {
        <div class="input-MAT">
            <label for="">Raça</label>
            <mat-form-field>
                <mat-label>Escolha uma opção</mat-label>
                <mat-select [(ngModel)]="paciente.raca.nome">
                    @for (raca of listaDog; track $index) {
                    <mat-option [value]="raca">{{raca}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        }@else if (paciente.raca.especie.id == 2) {
        <div class="input-MAT">
            <label for="">Raça</label>
            <mat-form-field>
                <mat-label>Escolha uma opção</mat-label>
                <mat-select [(ngModel)]="paciente.raca.nome">
                    @for (raca of lista; track $index) {
                    <mat-option [value]="raca">{{raca}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        }@else {
        <div class="input-MAT">
            <label for="">Raça</label>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ex. Thom" value="" required="" [(ngModel)]="paciente.raca.nome">
            </mat-form-field>
        </div>
        }

        <div class="input-MAT">
            <label for="">Data de nascimento</label>
            <mat-form-field>
                <mat-label>Escolha uma data</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="paciente.dataNascimento">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    @if (loginService.hasPermission("ADMIN")){
    <div class="tutor-data-input">
        <div class="tutor-data-select">
            <h3>Tutor:</h3>
            @if(paciente.tutor == null){

            }@else{
            <button class="" (click)="buscarTutor()">
                <p>Trocar tutor</p>
            </button>
            }
        </div>
        <div class="tutor-data-view">
            @if(paciente.tutor == null){
            <button (click)="buscarTutor()">
                <p>Selecionar Tutor</p>
            </button>
            }@else {
            <div class="patient-data-input">
                <div class="input-MAT">
                    <label for="">Nome</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{paciente.tutor.nome}}" value="">
                    </mat-form-field>
                </div>
                <div class="input-MAT">
                    <label for="">CPF</label>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{paciente.tutor.cpf}}" value="">
                    </mat-form-field>
                </div>
            </div>
            }
        </div>
    </div>
    }
    <div class="btn-holder" style="display: none;">
        <div class="btns">
            <button (keyup.enter)="save()" data-mdb-ripple-init (click)="save()">
                <p>Adicionar</p>
            </button>
        </div>
    </div>
</div>

<ng-template #modalTutores>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tutores</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

        <app-tutoreslist [esconderBotoes]="true" (retorno)="retornoTutor($event)"></app-tutoreslist>

    </div>
</ng-template>
