<div class="sidebar-container">
    <div class="logo">
      <img src="assets/pet-one-logo.png" alt="Pet One Logo">
    </div>
    <nav class="nav">
      <ul>
        <li>
          <a href="#" class="nav-link">
            <span class="icon dashboard-icon"></span>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link active">
            <span class="icon vet-icon"></span>
            Veterinários
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <span class="icon patients-icon"></span>
            Pacientes
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <span class="icon tutors-icon"></span>
            Tutores
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <span class="icon procedures-icon"></span>
            Procedimentos
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <span class="icon settings-icon"></span>
            Configurações
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            <span class="icon logs-icon"></span>
            Logs
          </a>
        </li>
      </ul>
    </nav>
    <div class="logout">
      <a href="#" class="nav-link">
        <span class="icon logout-icon"></span>
        Sair
      </a>
    </div>
  </div>
  