<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<div class="sidebar">
  <img src="assets/logo.svg" alt="Logo" class="top-image">
  <a href="#" class="sidebar-button">
    <img src="assets/dashboard.svg" alt="Dashboard Icon" class="icon">
    Dashboard
  </a>
  <a href="admin/veterinarios" class="sidebar-button">
    <img src="assets/estetoscopio.svg" alt="Veterinários Icon" class="icon">
    Veterináriosd
  </a>
  <a href="admin/pacientes" class="sidebar-button">
    <img src="assets/pata.svg" alt="Pacientes Icon" class="icon">
    Pacientes
  </a>
  <a href="admin/tutores" class="sidebar-button">
    <img src="assets/paciente.svg" alt="Tutores Icon" class="icon">
    Tutores
  </a>
  <a href="admin/procedimentos" class="sidebar-button">
    <img src="assets/procedimento.svg" alt="Procedimentos Icon" class="icon">
    Procedimentos
  </a>
  <a href="#" class="sidebar-button">
    <img src="assets/config.svg" alt="Configurações Icon" class="icon">
    Configurações
  </a>
  <a href="#" class="sidebar-button">
    <img src="assets/relogio.svg" alt="Logs Icon" class="icon">
    Logs
  </a>
  <a href="login" class="logout-button">Sair</a>
</div>
