<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 style="color: #54B4D3;">Listagem de pacientes</h3>
                <div>
                    <button [routerLink]="['/admin/pacientes/new']" type="button" class="btn btn-info btn-rounded me-2"
                        data-mdb-ripple-init><i class="fa-solid fa-square-plus"></i> Novo (rota)
                    </button>
                    <button (click)="new()" type="button" class="btn btn-info btn-rounded" data-mdb-ripple-init>
                        <i class="fa-solid fa-square-plus"></i> Novo (modal)
                    </button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="background-color: antiquewhite;" class="centralizar" scope="col">ID</th>
                    <th style="background-color: antiquewhite;" class="centralizar" scope="col">Nome</th>
                    <th style="background-color: antiquewhite;" class="centralizar" scope="col">Espécie</th>
                    <th style="background-color: antiquewhite;" class="centralizar" scope="col">Nascimento</th>
                    <th style="background-color: antiquewhite;" class="centralizar" scope="col">Raça</th>
                    <th style="background-color: antiquewhite;" class="centralizar" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of lista; let i = index">
                    <th class="centralizar" scope="row">{{ paciente.id }}</th>
                    <td class="centralizar">{{ paciente.nome }}</td>
                    <td class="centralizar">{{ paciente.especie }}</td>
                    <td class="centralizar">{{ paciente.dataNascimento }}</td>
                    <td class="centralizar">{{ paciente.raca }}</td>
                    <td>
                        <div class="centralizar">
                            <button (click)="edit(paciente)" type="button"
                                class="btn btn-outline-warning btn-rounded me-2" data-mdb-ripple-init
                                data-mdb-ripple-color="dark">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </button>
                            <button (click)="delete(paciente)" type="button"
                                class="btn btn-outline-danger btn-rounded" data-mdb-ripple-init
                                data-mdb-ripple-color="dark">
                                <i class="fa-solid fa-trash-can"></i> Deletar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #modalPacienteDetalhe>
    <div style="background-color: #54B4D3;" class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-pacientesdetails [paciente]="pacienteEdit" (retorno)="retornoDetalhe($event)"></app-pacientesdetails>
    </div>
</ng-template>
